<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video Streaming</title>
    </head>
    <body>
        <h1>Video Streaming <%= title %></h1>
        <video width="75%" height="auto" autoplay controls>
            <source src="<%= videoSource %>" type="video/mp4" />
        </video>
    </body>
</html>
